<% flash.each do |type, message| %>
  <%
    alert_class = case type
      when 'notice' then 'border-blue-500 bg-blue-900 text-blue-400'
      when 'success' then 'border-emerald-500 bg-emerald-900 text-emerald-200'
      when 'error', 'alert' then 'border-red-500 bg-red-900 text-red-200'
      else 'border-yellow-500 bg-yellow-900 text-yellow-200'
    end
  %>
  <div class="<%= alert_class %> px-4 py-3 border-l-4 rounded-md shadow-md mb-4 relative" role="alert">
    <p class="font-bold"><%= type.capitalize %></p>
    <p class="text-sm"><%= message %></p>
    <button class="absolute top-0 right-0 mt-2 mr-2 text-gray-600 hover:text-gray-800 focus:outline-none" onclick="this.parentElement.style.display='none';">
      <svg class="h-4 w-4 fill-current" viewBox="0 0 20 20">
        <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
      </svg>
    </button>
  </div>
<% end %>
